// Overrides
.top-bar, .top-bar ul {
  background-color: $white;
}

.top-bar {

  .top-bar-left {
    a:hover, .active {
      border-bottom: 1px solid $blue;
    }
  }

  .menu-text {
    color: $nav-text-color;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }
}

// Other things
.attribution {
  font-size: 8px;
  text-transform: uppercase;
}
